body {
    background-image: url("../imgs/wood_bgd.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #F4F3F5;
    font-family: 'Roboto', sans-serif;
    color: #404040;
    font-size: 15px;
}

h1, h2 {
    color: #E85A4F;
    font-family: 'Open Sans', sans-serif;
}


/* Header */

.header {
    background-color: #404040;
    height: 100px;
}

.header__wrapper {
    width: 1120px;
    margin: 0 auto;
    overflow: auto;
}

.header__logo {          /* with % on width doesn't float as I would like to */
    float: left;
    padding: 25px 0 0 0;
}

.header__navigation {
    float: right;
    padding: 15px 0 0 0;
}

.navigation {
    list-style-type: none;
    padding: 0;
}

.navigation__item {
    float: left;
    padding: 10px 0;
    margin: 0 20px 0 0; 

}

.navigation__item:hover {
    color: white;
    margin-top: -3px;
    border-top: 3px solid #EB6D64;
}

.navigation__link {
    color: white;
    text-decoration: none;
}

.navigation__dropdown {
    display: none;
    position: absolute;
    background-color: rgb(224, 224, 224);
    margin-top: 3px;
    border: 1px solid #000;
}

.navigation__item--has-dropdown:hover .navigation__dropdown {
    display: block;
}

.navigation__dropdown--link {
    color: #404040;
    text-decoration: none;
}

.navigation__dropdown-item:hover {
    background-color: grey;
}

.navigation__dropdown-item {
        padding: 10px 20px;
}

/* Main section */

main {
    width: 1120px;
    margin: 30px auto;
    overflow: auto; 
}

.content {
    float: left;
    width: 60%;
    background-color: #fff;
    border: 1px solid grey;
    padding: 30px;
    display: block;
    overflow: auto;
    margin-bottom: 30px;
}

.sidebar {
    float: right;
    width: 30%;
    background-color: #EB6D64;
    border: 1px solid grey;
    padding: 0 20px 20px 20px;
    display: block;
    color: white;
    overflow: auto;
}

.sidebar fieldset {
    border: none;
    padding: 10px;
    background-color: #db645e;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}


.tips {
    clear: both;
    margin: 0px auto; /* margin doesn't work */
    width: 100%;
    overflow: auto;
    display: block;
}

.tips__box {
    background-color: #FFF06E;
    border: 1px solid grey;
    padding: 30px;
    width: 308px;
    float: left;
    margin-bottom: 15px;
    box-shadow: 0 8px 20px -6px black;
}

.tips__box--left {
    background-color: #8FE1FF;
    margin-right:5px;
}


.tips__box--right {
    background-color: #80E89A;
    margin-left:5px;
}

/* Images */

.content__imgs {
    max-width: 250px;
    padding: 5px 5px 25px 5px;
    border: 1px solid grey;
    margin-bottom: 7px;
    background-color: whitesmoke;
    box-shadow: 5px 5px grey;
}

.content__imgs--left {
    float: left;
    margin-right: 15px; 
}

.content__imgs--right {
    float: right;
    margin-left: 15px;
}

/* Footer section */

footer {
    clear: both;
    background-color: #404040;
    height: 50px;
}

.footer__copy {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    color: #777777;
}

.footer__link {
    color: #777777;
    text-decoration: underline;
}